OPENAI_API_KEY=
OPENAI_BASE_URL=vselm
DATABASE_URL=
MAX_BOT_TOKEN=
MAX_BASE_URL=https://platform-api.max.ru

CHAT_MODEL=gpt-4.1-mini
CLASSIFIER_MODEL=gpt-4.1-mini
SCREENSHOT_MODEL=gpt-4.1-mini
EMBEDDING_MODEL=text-embedding-3-small

WHISPER_MODEL_SIZE=tiny
WHISPER_DEVICE=cpu
WHISPER_COMPUTE_TYPE=int8

REVIEW_LINK=https://yandex.com/maps/org/sushi_set/28401092521/reviews/
PROMO_CODE=555test

MAX_MESSAGES=30
MAX_IMAGE_PROCESSED=5
MAX_TEXT_MESSAGES=20
TEST_MODE=false
